{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":4,"column":5},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":4,"state":"start","mode":"ace/mode/text"}},"hash":"45115fbc6eed832c59023fc9bd9a71e1b9194cba","undoManager":{"mark":0,"position":-1,"stack":[]},"timestamp":1407711837391}