extends header.jade
block content
    .paragraphe
        a(href='http://www.flickr.com/photos/97936203@N04/10583959383/', target="_blanck", title='SALOON de Tetraib, sur Flickr'): img.polaroid(src='http://farm8.staticflickr.com/7402/10583959383_11df2e7a2f_n.jpg', width='320', height='311', alt='SALOON', style='float: left;')
        p
            | Avant de développer Rauks.org, l’équipe a joué à de nombreux jeux de rôle.
            | L’un des élément qui nous a convaincu de nous lancer dans le projet c’est
            | que la plupart de ces jeux avaient un aspect technique très important.
            | Les règles étaient souvent intéressantes mais à la fois complexe et volumineuses
            | nous éloignant à notre sens du jeu de rôle. Rauks.org s’inspire des jeux
            | de sociétés en ce que les règles se veulent simples, intuitives et utilisent
            | un matériel spécifique simplifiant la lecture du jeu.
        p
            | De plus, Rauks.org veut à la fois reconnaître et mettre au centre l'importance
            | de l’interprétation du maître des jeux, tout en l’associant aux idées des
            | joueurs. L’explication et l’argumentation à propos des actions de son personnage
            | sont tout aussi importantes que les compétences de ce personnage pour déterminer
            | la difficulté des actions.
        p
            | Ce n’est pas les compétences ou l’expérience du personnage qui fera la
            | force du joueur, mais bien sa capacité à les utiliser et à imaginer des
            | solutions. C’est donc la qualité de son jeu de rôle qui fera sa force.
    .ui-grid-a.ui-responsive
        .ui-block-a
            h2.centering L'équipe
            div.paragraphe_large
                p
                    | En cours
        .ui-block-b
            h2.centering Nous contacter
            div.paragraphe_large
                p
                    | En cours