extends header.jade
block content
    h1.centering.maintitle.edit=title
    div.paragraphe_xlarge
        div.textedit!= text
        button#savebutton Enregistrer
        button#updatebutton Update
    script.
        var articleid = "#{_id}"