extends header.jade
block content
    h1.centering.maintitle=title
    .paragraphe_large
    .paragraphe    
        ul(data-role='listview', data-inset='true', data-divider-theme='a',data-theme='f')
            each val, index in foundarticle
                li
                    a(href='/material?n='+ foundarticle[index].name)= foundarticle[index].title