extends header.jade
block content
    h1.centering.maintitle=title
    div.paragraphe
        ul(data-role='listview', data-inset='true', data-divider-theme='a',data-theme='e')
            each val, index in foundarticle
                li
                    a(href='/material?n='+ foundarticle[index].name)= foundarticle[index].title