extends header.jade
block content
    h1.centering.maintitle=title
    .paragraphe
        a(href='http://www.flickr.com/photos/97936203@N04/10583718396/', target='_blank', title='DESERT de Tetraib, sur Flickr'): img.polaroid(src='http://farm6.staticflickr.com/5493/10583718396_3862d2c270_n.jpg', width='220', height='320', alt='DESERT', style='float: left; margin-right: 1em;')
        p
            | Vous serez un Rauks, un mercenaire avec une liberté extrême dans la réalisation de ses missions.
        p
            | Plongé dans un monde dominé par un empire bureaucratique prônant l’égalité
            | entre deux races du genre homo. Un monde que l’électronique
            | a révolutionné, sans pour autant connaître de révolution industrielle.
        p
            | Rauks.org est 
            a(href='http://fr.wikipedia.org/wiki/Jeu_de_r%C3%B4le_sur_table', target="_blank") jeu de rôle sur table
            |  qui se veut à la fois accessible pour les joueurs débutants et adapté
            | aux rolistes aguerris. Tout est fait pour rendre les règles faciles à apprendre
            | et à utiliser afin de se concentrer sur l'essentiel : Le jeu de rôle en lui même