div(data-role='controlgroup', data-type='horizontal', data-mini='true', style='text-align: center;')
    a(href='/', data-role='button') Accueil
    a(href='/about', data-role='button') Autour du jeu
    a(href='/rules', data-role='button') Régles
    a.ui-disabled(href='', data-role='button') Matériels
    a.ui-disabled(href='', data-role='button') Univers
    a.ui-disabled(href='', data-role='button') Scénarios
    a.ui-disabled(href='', data-role='button') Boutique