extends header.jade
block content
    h1.centering.maintitle Générateur de PJ
    div.paragraphe_xlarge
    
        h3 Généralités
        label(for='basic') Nom :
        input#basic(type='text', value='')
        .ui-grid-a.ui-responsive
            .ui-block-a
                .ui-field-contain.switchrecolor
                    label(for='flip-1') Sexe : 
                    select#flip-1(data-role='slider')
                        option(value='m') M
                        option(value='f') F
            .ui-block-b
                .ui-field-contain
                    label.select(for='select-choice-a') Ethnie :
                    select#select-choice-a(name='select-choice-a', data-inline="false")
                        option(value='')  
                        option(value='') Bassier
                        option(value='') Nordique
                        option(value='') Impérial
                        option(value='') Orc Clair
                        option(value='') Orc Gris
                        option(value='') Orc Noir
        
        h3 Caractéristiques
        .ui-grid-a.ui-responsive
            .ui-block-a
                .ui-field-contain
                    label(for='slider-filla') Physique : 
                    input#slider-filla(type='range', value='2', min='1', max='4', data-highlight='true')
                    label(for='slider-fillb') Perception : 
                    input#slider-fillb(type='range', value='2', min='1', max='4', data-highlight='true')
                    label(for='slider-fillc') Intellignce : 
                    input#slider-fillc(type='range', value='2', min='1', max='4', data-highlight='true')
        
            .ui-block-b
                .ui-field-contain
                    label(for='slider-filld') Charisme : 
                    input#slider-filld(type='range', value='2', min='1', max='4', data-highlight='true')
                    label(for='slider-fille') Compétence : 
                    input#slider-fille(type='range', value='3', min='2', max='5', data-highlight='true')
                    label(for='slider-fillf') Relance : 
                    input#slider-fillf(type='range',  value='5', min='3', max='9', step="2", data-highlight='true')
            p 18 points à attribuer
        
        h3 Compétences
        .ui-grid-b.ui-responsive
            .ui-block-a
                select#select-choice
                    option(value='')  
                    optgroup(label="Physique")
                      option(value='') Athlétisme / Ironman
                      option(value='') Agilité / Acrobatie
                      option(value='') Survie / Résistance
                      option(value='') Tir au jugé / Tir rapide
                      option(value='') Combat Rapproché / Maîtrise du corps à corps
                    optgroup(label="Perception")
                      option(value='') Réflexe / Fourberie
                      option(value='') Tir visé / Tir de précision
                      option(value='') Observation / Sixième Sens
                      option(value='') Camouflage / Furtivité
                      option(value='') Défense / Maîtrise de la défense
                    optgroup(label="Intelligence")
                      option(value='') Raisonnement / Genius
                      option(value='') Premiers secours / Médecine
                      option(value='') Mémoire / Science infuse
                      option(value='') Bricolage / Mécanisme
                      option(value='') Empathie / Psychanalyse
                    optgroup(label="Charisme")
                      option(value='') Persuasion / Négociation
                      option(value='') Explication / Commandement
                      option(value='') Charme / Aura
                      option(value='') Intimidation / Manipulation
                      option(value='') Mensonge / Comédie
                select#select-choice
                    option(value='')  
                    optgroup(label="Physique")
                      option(value='') Athlétisme / Ironman
                      option(value='') Agilité / Acrobatie
                      option(value='') Survie / Résistance
                      option(value='') Tir au jugé / Tir rapide
                      option(value='') Combat Rapproché / Maîtrise du corps à corps
                    optgroup(label="Perception")
                      option(value='') Réflexe / Fourberie
                      option(value='') Tir visé / Tir de précision
                      option(value='') Observation / Sixième Sens
                      option(value='') Camouflage / Furtivité
                      option(value='') Défense / Maîtrise de la défense
                    optgroup(label="Intelligence")
                      option(value='') Raisonnement / Genius
                      option(value='') Premiers secours / Médecine
                      option(value='') Mémoire / Science infuse
                      option(value='') Bricolage / Mécanisme
                      option(value='') Empathie / Psychanalyse
                    optgroup(label="Charisme")
                      option(value='') Persuasion / Négociation
                      option(value='') Explication / Commandement
                      option(value='') Charme / Aura
                      option(value='') Intimidation / Manipulation
                      option(value='') Mensonge / Comédie
            .ui-block-b
                select#select-choice
                    option(value='')  
                    optgroup(label="Physique")
                      option(value='') Athlétisme / Ironman
                      option(value='') Agilité / Acrobatie
                      option(value='') Survie / Résistance
                      option(value='') Tir au jugé / Tir rapide
                      option(value='') Combat Rapproché / Maîtrise du corps à corps
                    optgroup(label="Perception")
                      option(value='') Réflexe / Fourberie
                      option(value='') Tir visé / Tir de précision
                      option(value='') Observation / Sixième Sens
                      option(value='') Camouflage / Furtivité
                      option(value='') Défense / Maîtrise de la défense
                    optgroup(label="Intelligence")
                      option(value='') Raisonnement / Genius
                      option(value='') Premiers secours / Médecine
                      option(value='') Mémoire / Science infuse
                      option(value='') Bricolage / Mécanisme
                      option(value='') Empathie / Psychanalyse
                    optgroup(label="Charisme")
                      option(value='') Persuasion / Négociation
                      option(value='') Explication / Commandement
                      option(value='') Charme / Aura
                      option(value='') Intimidation / Manipulation
                      option(value='') Mensonge / Comédie
                select#select-choice
                    option(value='')  
                    optgroup(label="Physique")
                      option(value='') Athlétisme / Ironman
                      option(value='') Agilité / Acrobatie
                      option(value='') Survie / Résistance
                      option(value='') Tir au jugé / Tir rapide
                      option(value='') Combat Rapproché / Maîtrise du corps à corps
                    optgroup(label="Perception")
                      option(value='') Réflexe / Fourberie
                      option(value='') Tir visé / Tir de précision
                      option(value='') Observation / Sixième Sens
                      option(value='') Camouflage / Furtivité
                      option(value='') Défense / Maîtrise de la défense
                    optgroup(label="Intelligence")
                      option(value='') Raisonnement / Genius
                      option(value='') Premiers secours / Médecine
                      option(value='') Mémoire / Science infuse
                      option(value='') Bricolage / Mécanisme
                      option(value='') Empathie / Psychanalyse
                    optgroup(label="Charisme")
                      option(value='') Persuasion / Négociation
                      option(value='') Explication / Commandement
                      option(value='') Charme / Aura
                      option(value='') Intimidation / Manipulation
                      option(value='') Mensonge / Comédie
            .ui-block-c
                select#select-choice
                    option(value='')  
                    optgroup(label="Physique")
                      option(value='') Athlétisme / Ironman
                      option(value='') Agilité / Acrobatie
                      option(value='') Survie / Résistance
                      option(value='') Tir au jugé / Tir rapide
                      option(value='') Combat Rapproché / Maîtrise du corps à corps
                    optgroup(label="Perception")
                      option(value='') Réflexe / Fourberie
                      option(value='') Tir visé / Tir de précision
                      option(value='') Observation / Sixième Sens
                      option(value='') Camouflage / Furtivité
                      option(value='') Défense / Maîtrise de la défense
                    optgroup(label="Intelligence")
                      option(value='') Raisonnement / Genius
                      option(value='') Premiers secours / Médecine
                      option(value='') Mémoire / Science infuse
                      option(value='') Bricolage / Mécanisme
                      option(value='') Empathie / Psychanalyse
                    optgroup(label="Charisme")
                      option(value='') Persuasion / Négociation
                      option(value='') Explication / Commandement
                      option(value='') Charme / Aura
                      option(value='') Intimidation / Manipulation
                      option(value='') Mensonge / Comédie
        
        h3 Licences
        .ui-grid-b.ui-responsive
            .ui-block-a
                select#select-choice
                    option(value='') Tir visé : 
                    option(value='') Revolver
                    option(value='') Fusil
                    
                select#select-choice
                    option(value='') Tir au jugé : 
                    option(value='') Pistolet
                    option(value='') Pistolet Mitrailleur
                    
                   
            .ui-block-b
                select#select-choice
                    option(value='') Combat rapproché : 
                    option(value='') Boxe Thaï
                    option(value='') Machette
                    option(value='') Tomahawk
                    
                   
                select#select-choice
                    option(value='') Self Defense : 
                    option(value='') Jujitsu
                    option(value='') Rapière
                    option(value='') Bouclier
                   
            .ui-block-c
                select#select-choice
                    option(value='') Attaque Furtive : 
                    option(value='') Corde à Piano
                    option(value='') Derringer

        h3 Traits Distinctifs
        textarea#textarea-a(name='textarea' style="resize:none")
        
        h3 Validation
        div(style="text-align: center; margin-bottom:20px;")
            i.fa.fa-check-square-o 
            |   Nom |  
            i.fa.fa-check-square-o 
            |   Ethnie |  
            i.fa.fa-check-square-o 
            |   Caractéristiques |  
            i.fa.fa-square-o 
            |   Compétences |  
            i.fa.fa-check-square-o 
            |   Licences
            
        button Soumettre à l'administration impériale
    script(type='text/javascript').
        $(document).on("pagecreate", function() {
            $(".switchrecolor .ui-slider-label-a").removeClass("ui-btn-active").addClass("ui-btn-down-a")

        })
        
    
    
    // 
    // 
    // Prepatrf codr for pdfkit !!! :     
        

// doc
// .roundedRect(0, 0, 595, 425, 70)
// .fill("#4B1E28");

// doc
// .fill("#E0B868")
// .fontSize(14)
// .text("Le titulaire,",0,20,{width: 297.5, align: 'center'})
// .text("Pour l’Empereur et par délégation,",0,350,{width: 297.5, align: 'center'})
// .fontSize(24)
// .text("République Impériale",297.5,45,{width: 297.5, align: 'center'})
// .fontSize(18)
// .text("PASSEPORT",297.5,360,{width: 297.5, align: 'center'});

// doc
// .rect(20, 50, 232, 29)
// .rect(20, 90, 232, 29)
// .rect(20, 130, 232, 29)
//   .lineWidth(1.5)
//   .fillAndStroke("#7b5a62", "black");

// doc
// .translate(426.25,380)
// .rect(0, 0, 40, 25)
// .fill("#E0B868")
// .circle(20, 12.5, 7.5)
// .moveTo(0, 12.5) 
// .lineTo(12, 12.5)
// .moveTo(27, 12.5)
// .lineTo(40, 12.5)
// .lineWidth(2.5)
// .lineCap('round')
// .fillAndStroke("#E0B868", "#4B1E28");

// doc.end();
