include header.jade
    div(style='width: 50%; margin: auto; text-align: center;')
        ul(data-role='listview', data-inset='true', data-filter='true', data-filter-placeholder='Rechercher une régle...', data-filter-theme='c', data-divider-theme='c')
            li(data-role='list-divider') Personnages
            li
              a(href='/system/?name=character') Création de personnage
            li
              a(href='/system/?name=skills') Compétences
            li
              a(href='/system/?name=spells') Sorts
            li
              a(href='/system/?name=inventory') Armure et inventaire
            li(data-role='list-divider') Jeux
            li
              a(href='/system/?name=dices') Jets de dés
            li
              a(href='/system/?name=rerolls') Relances
            li(data-role='list-divider') Combats
            li
              a(href='/system/?name=fighting') Système de combat
            li
              a(href='/system/?name=melee') Combat au corps à corps
            li
              a(href='/system/?name=distance') Combat à distance
            li
              a(href='/system/?name=damages') Dégats