extends header.jade
block content
    h1.centering.maintitle=title
    div.paragraphe
        ul(data-role='listview', data-inset='true', data-divider-theme='c')
            each val, index in foundarticle
                li
                    a(href='/system?n='+ foundarticle[index].name)= foundarticle[index].title

    div.centering
        a(href='http://www.flickr.com/photos/97936203@N04/10583718156/', title='WALL de Tetraib, sur Flickr'): img.polaroid(src='http://farm4.staticflickr.com/3690/10583718156_47daa02c40_b.jpg', width='1024', height='469', alt='WALL')