extends header.jade
block content
    h1.centering.maintitle=title
    .paragraphe_large
    .paragraphe    
        ul(data-role='listview', data-inset='true', data-divider-theme='a',data-theme='e', data-icon="false")
            each val, index in foundarticle
                li
                    a(href='/tools?n='+ foundarticle[index].name)
                        h3= foundarticle[index].title
                        p=foundarticle[index].descript