<div data-role="controlgroup" data-type="horizontal" data-mini="true"
style="text-align: center; margin:0 auto;">
    <a href="/" data-role="button">Accueil</a>
    <a href="/about" data-role="button">Autour du jeu</a>
    <a href="/rules" data-role="button">Régles</a>
    <a href="" data-role="button" class="ui-disabled">Matériels</a>
    <a href="" data-role="button" class="ui-disabled">Univers</a>
    <a href="" data-role="button" class="ui-disabled">Scénarios</a>
    <a href="" data-role="button" class="ui-disabled">Boutique</a>
</div>