include header.jade
    block append content    
    div(style='width: 87%; margin: auto;')
        h2 Choix de la civilité
        p
            | Il faut commencer par déterminer la race et l'ethnie d’un personnage,
            | ainsi que son nom et son sexe. De base, un personnage est un commun.
            br
            br
            | Les personnages sont également des méta-humain ayant conscience de leur état.
        h2 Choix des caractéristiques
        p Il faut répartir 18 points dans les 6 caractéristiques du personnage :
        ul
            li Le physique
            li La perception
            li L’intelligence
            li Le charisme
            li Le corps à corps
            li Les relances
        p 
            | Chaque caractéristique peut aller de 2 à 4.
            br
            br
            |2 représente un personnage faible, 3 un personnage normal, 4 un personnage fort.
        h2 Détermination des scores
        p La détermination des scores est simple :
        ul
            li La vitesse est fixée à 5 étant donné qu’il est un humanoïde
            li Son armure est fixée à 7 étant donné qu’il est un humanoïde
            li Le nombre réel de ses relances est déterminé par “Relance multiplié par 3”
        h2 Choix des compétences
        p
            | Le Joueur choisi les 5 compétences de son personnage. Ces compétences
            | facilitent des jet de dés ou en rend possible d’autres.
        h2 Choix du sort
        p
            | Le MJ propose un sort qui soit utile et cohérent avec le personnage créé.
            | Pour aider le MJ dans son choix, le joueur peut décrire son personnage
            | et la façon dont il se l’imagine
        h2 Attribution de l’équipement
        p 
            |Le MJ donne un peu d’équipement au personnage, en accord avec ses compétences.
            br
            br
            | Les personnages peuvent un nombre différente d’objet en fonction de l’armure
            | qu’ils ont sur eux en plus d’objets qu’ils pourraient porter avec leurs
            | bras.
        h2 Évolution du personnage
        p
            | Les caractéristiques, compétences et sorts du personnages sont définis
            | au début du jeu et n’ont pas vocation à évoluer. Certains réajustements
            | peuvent éventuellement être fait en accord avec le MJ, si une compétence
            | ne représente plus vraiment le personnage tel qu’il a évolué afin de la
            | remplacer vers une autre plus adapté.
            br
            br
            | Le personnage va cependant évoluer de deux manières :
        ul
            li
                | Ses possessions sont susceptibles d’évoluer, son équipement mais également
                | les propriétés immobilières qu’il pourrait finir par acquérir
            li
                | La principale évolution reste l’évolution sociale du personnage. Se faire
                | des alliés, des ennemis, gagner un meilleur statut, voilà également la
                | plus grande possibilité d’évolution et la meilleur manière de symboliser
                | le vécu du personnage.